@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.ContactDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(212, 205, 193);
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
}
.ContactDiv a{
    width: 80%;
    height: 7vh;
    border-radius: 15px;
    border: 0;
    background-color: antiquewhite;
    color: rgb(41, 36, 36);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
}